.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.title {
  text-align: center;
  font-family: Tahoma, sans-serif;
}

.title, .preview {
  cursor: default;
}

.editor, .preview {
  background: rgba(0, 0, 0, 0.03);
  -webkit-transition: box-shadow .5s ease-in-out;
  transition: box-shadow .5s ease-in-out;
}

.editor {
  outline: none !important;
  margin-bottom: 10px;
  caret-color: #80d;
}

.editor:focus {
  background: #fff;
}

.editor:hover, .editor:focus {
  box-shadow: 0 0 20px rgba(100, 0, 200, .8);
}

.preview {
  min-width: 40%;
  margin: 0;
  padding: 0 1em;
  border: 2px solid #eee;
}
